<section class="efficiency">
  <div class="efficiency__container container">
    <div class="efficiency__body">
      <div class="efficiency__row">
        <h3 class="efficiency__title title">Efficiency</h3>
      </div>
      <div class="efficiency__row">
        <ul class="efficiency__list efficiency-block">
          <li class="efficiency-block__subtitle subtitle">Total Efficiency</li>
          <li class="efficiency-block__list-item">
            <ul class="efficiency-block__row">
              <li class="efficiency-block__item text-bold text-left">
                Changes
              </li>
              <li class="efficiency-block__item text-bold"></li>
              <li class="efficiency-block__item text-bold"></li>
            </ul>
          </li>
          <li class="efficiency-block__list-item">
            <ul class="efficiency-block__row">
              <li class="efficiency-block__item text-bold">Origin</li>
              <li class="efficiency-block__item text-bold"></li>
              <li class="efficiency-block__item text-bold"></li>
            </ul>
          </li>
          <li class="efficiency-block__list-item">
            <ul class="efficiency-block__row">
              <li class="efficiency-block__item text-bold">Average</li>
              <li class="efficiency-block__item text-bold"></li>
              <li class="efficiency-block__item text-bold"></li>
            </ul>
          </li>
        </ul>
        <ul class="efficiency__list efficiency-block">
          <li class="efficiency-block__subtitle subtitle">
            Efficiency by Current Month (Sep)
          </li>
          <li class="efficiency-block__list-item">
            <ul class="efficiency-block__row">
              <li class="efficiency-block__item text-bold text-left">
                Changes
              </li>
              <li class="efficiency-block__item text-bold"></li>
              <li class="efficiency-block__item text-bold"></li>
            </ul>
          </li>
          <li class="efficiency-block__list-item">
            <ul class="efficiency-block__row">
              <li class="efficiency-block__item text-bold">Origin</li>
              <li class="efficiency-block__item text-bold"></li>
              <li class="efficiency-block__item text-bold"></li>
            </ul>
          </li>
          <li class="efficiency-block__list-item">
            <ul class="efficiency-block__row">
              <li class="efficiency-block__item text-bold">Average</li>
              <li class="efficiency-block__item text-bold"></li>
              <li class="efficiency-block__item text-bold"></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
