<section class="efficiency">
    <div class="efficiency__container container">
        <div class="efficiency__body">
            <div class="efficiency__row">
                <h3 class="efficiency__title title">Efficiency</h3>
            </div>
            <div class="efficiency__row">
                <div class="efficiency__col efficiency-block">
                    <p class="efficiency-block__subtitle subtitle">Total Efficiency</p>
                    <div class="efficiency-block__row">
                        <p class="efficiency-block__item text-bold text-left">Changes</p>
                        <p class="efficiency-block__item text-bold"></p>
                        <p class="efficiency-block__item text-bold"></p>
                    </div>
                    <div class="efficiency-block__row">
                        <p class="efficiency-block__item text-bold">Origin</p>
                        <p class="efficiency-block__item text-bold"></p>
                        <p class="efficiency-block__item text-bold"></p>
                    </div>
                    <div class="efficiency-block__row">
                        <p class="efficiency-block__item text-bold">Average</p>
                        <p class="efficiency-block__item text-bold"></p>
                        <p class="efficiency-block__item text-bold"></p>
                    </div>
                </div>
                <div class="efficiency__col efficiency-block">
                    <p class="efficiency-block__subtitle subtitle">
                        Efficiency by Current Month (Sep)
                    </p>
                    <div class="efficiency-block__row">
                        <p class="efficiency-block__item text-bold text-left">Changes</p>
                        <p class="efficiency-block__item text-bold"></p>
                        <p class="efficiency-block__item text-bold"></p>
                    </div>
                    <div class="efficiency-block__row">
                        <p class="efficiency-block__item text-bold">Origin</p>
                        <p class="efficiency-block__item text-bold"></p>
                        <p class="efficiency-block__item text-bold"></p>
                    </div>
                    <div class="efficiency-block__row">
                        <p class="efficiency-block__item text-bold">Average</p>
                        <p class="efficiency-block__item text-bold"></p>
                        <p class="efficiency-block__item text-bold"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
