<header class="header">
    <div class="header__row container">
        <a href="#" class="header__logo">
            <img src="img/mainLogo.svg" alt="employee time" />
        </a>
        <div class="header__menu menu">
            <div class="menu__icon icon-menu">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <nav class="menu__body">
                <ul class="menu__list">
                    <li class="menu__item">
                        <a href="#" class="menu__link">
                            <img src="img/summary.svg" alt="summary" />
                            <span>Summary</span>
                        </a>
                    </li>
                    <li class="menu__item">
                        <a href="#" class="menu__link">
                            <img src="img/timeClock.svg" alt="hours" />
                            <span>Hours</span>
                        </a>
                    </li>
                    <li class="menu__item menu__item--active">
                        <a href="#" class="menu__link">
                            <img src="img/pencil.svg" alt="projects" />
                            <span>Projects</span>
                        </a>
                    </li>
                    <li class="menu__item">
                        <a href="#" class="menu__link">
                            <img src="img/timeReports.svg" alt="time reports" />
                            <span>Time reports</span>
                        </a>
                    </li>
                    <li class="menu__item">
                        <a href="#" class="menu__link">
                            <img src="img/confirmation.svg" alt="confirmation" />
                            <span>Confirmation</span>
                        </a>
                    </li>
                    <li class="menu__item">
                        <a href="#" class="menu__link">
                            <img src="img/mailer.svg" alt="mailer" />
                            <span>Mailer</span>
                        </a>
                    </li>
                    <li class="menu__item">
                        <a href="#" class="menu__link">
                            <img src="img/compare.svg" alt="compare" />
                            <span>Compare</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="header__avatar">
            <div class="header__mode">
                <img src="img/light-mode.svg" alt="light" />
            </div>
            <div class="avatar">
                <a href="#" class="avatar__link">
                    <img src="img/avatar.svg" alt="avatar" />
                </a>
            </div>
        </div>
    </div>
</header>
