<section class="projects">
  <div class="projects__container container">
    <div class="projects__row">
      <div class="projects__col info">
        <h3 class="info__title title">Project information</h3>
        <ul class="info__body scroll">
          <li class="info__row">
            <p class="info__subtitle">Project name</p>
            <p class="info__content"></p>
          </li>
          <li class="info__row">
            <p class="info__subtitle">Team lead</p>
            <p class="info__content"></p>
          </li>
          <li class="info__row">
            <p class="info__subtitle">Created</p>
            <p class="info__content"></p>
          </li>
          <li class="info__row">
            <p class="info__subtitle">Finished</p>
            <p class="info__content"></p>
          </li>
          <li class="info__row">
            <p class="info__subtitle">Categories</p>
            <p class="info__content"></p>
          </li>
          <li class="info__row">
            <p class="info__subtitle">Time</p>
            <div class="info__dollar-sign-icon">
              <img src="img/dollarSign.svg" alt="dollar sign" />
            </div>
          </li>
          <li class="info__row">
            <p class="info__subtitle">Label</p>
          </li>
          <li class="info__row">
            <p class="info__subtitle">Tag</p>
          </li>
          <li class="info__row">
            <p class="info__subtitle">Status</p>
          </li>
          <li class="info__row info__row--team">
            <p class="info__subtitle">Team</p>
            <p class="info__content info__content--devs"></p>
          </li>
        </ul>
      </div>
      <div class="projects__col time">
        <h3 class="time__title title">Project Time</h3>
        <div class="time__body">
          <div class="time__col">
            <div class="time__total">
              <p class="time__subtitle subtitle">Total time (Hours)</p>
              <ul class="time__list">
                <li class="time__item">
                  <p class="time__text-bold text-bold">Changes</p>
                  <p class="time__text-bold text-bold"></p>
                </li>
                <li class="time__item--col">
                  <div class="time__item--row">
                    <p class="time__text-bold text-bold">Origin</p>
                    <p class="time__text-bold text-bold"></p>
                  </div>
                  <div class="time__item--row-list">
                    <ul class="time__item--list"></ul>
                  </div>
                </li>
                <li class="time__item time__sum">
                  <p class="time__text-bold text-bold">Sum</p>
                  <p class="time__text-bold text-bold"></p>
                </li>
              </ul>
            </div>
          </div>
          <div class="time__col">
            <div class="time__month">
              <p class="time__subtitle subtitle">
                Time (Hours) by Current Month (Sep)
              </p>
              <ul class="time__list">
                <li class="time__item">
                  <p class="time__text-bold text-bold">Changes</p>
                  <p class="time__text-bold text-bold"></p>
                </li>
                <li class="time__item--col">
                  <div class="time__item--row">
                    <p class="time__text-bold text-bold">Origin</p>
                    <p class="time__text-bold text-bold"></p>
                  </div>
                  <div class="time__item--row-list">
                    <ul class="time__item--list"></ul>
                  </div>
                </li>
                <li class="time__item time__sum">
                  <p class="time__text-bold text-bold">Sum</p>
                  <p class="time__text-bold text-bold"></p>
                </li>
              </ul>
            </div>
            <div class="time__estimations">
              <p class="time__subtitle subtitle">Estimations (Hours)</p>
              <ul class="time__list">
                <li class="time__item">
                  <p class="time__text-bold text-bold">Changes</p>
                  <p class="time__text-bold text-bold"></p>
                </li>
                <li class="time__item">
                  <p class="time__text-bold text-bold">Origin</p>
                  <p class="time__text-bold text-bold"></p>
                </li>
                <li class="time__item time__sum">
                  <p class="time__text-bold text-bold">Sum</p>
                  <p class="time__text-bold text-bold"></p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
