.tasks {
  &__container {
    @media (max-width: ($md1+px)) {
      overflow-x: scroll;
      &::-webkit-scrollbar {
        height: 8px;
        width: 0px;
      }
      &::-webkit-scrollbar-thumb {
        background-color: var(--bg-hover-select-color);
        border-radius: 7px;
      }
    }
    @media (max-width: ($md3+px)) {
      margin: 0 10px;
      padding: 0 !important;
    }
  }
}

.table {
  width: 100%;
  font-size: 12px;

  &__head {
    display: block;
    border-radius: var(--main-border-radius);
    background-color: var(--tone-dark-grey-bg-color-first);
  }

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    margin-bottom: 8px;
    border: var(--border-color-table);
    border-radius: var(--main-border-radius);

    &--content {
      min-height: 60px;
      padding: 12px 30px;
    }

    &--odd {
      background-color: var(--colol-bg-odd-row-table);
    }

    &--not-odd {
      background-color: var(--primary-bg-color);
    }

    &--separator {
      border-radius: var(--main-border-radius);
      border: var(--border-color-table);
      height: 12px;
      background-color: var(--primary-bg-color);
      margin: 2px 0 8px 0;
      @media (max-width: ($md1+px)) {
        min-width: 1096px;
      }
    }

    &--summ {
      border-radius: var(--main-border-radius);
      border: var(--border-color-table);
      background-color: var(--primary-bg-color);
      color: var(--color-footer);
      padding: 7px 30px;
      @media (max-width: ($md1+px)) {
        min-width: 1096px;
      }
    }
  }

  &__column-name {
    user-select: none;
    text-align: right;
    font-weight: var(--fw-semi-bold);
    color: var(--color-title);
    cursor: pointer;
    height: 58px;
    display: flex;
    justify-content: start;
    align-items: center;
    line-height: 17px;
    img {
      max-width: 16px;
      max-height: 16px;
      margin-left: 4px;
    }
  }

  &__body {
    color: var(--color-checkbox-eff);
    // &::-webkit-scrollbar {
    //   width: 8px;
    // }

    // &::-webkit-scrollbar-thumb {
    //   background-color: var(--bg-hover-select-color);
    //   border-radius: 7px;
    // }
  }

  &__show-more {
    display: inline-block;
    cursor: pointer;
    margin-top: 5px;
    color: var(--secondary-bg-color);
    font-weight: var(--fw-normal);
    transition: 0.3s;
    &:hover {
      color: rgb(106, 81, 173);
    }
  }

  &__task-name {
    width: 163px;

    &--content {
      a {
        color: var(--color-tasks);
        font-weight: var(--fw-normal);
        transition: 0.3s;
        line-height: 18px;
        &:hover {
          color: rgb(106, 81, 173);
        }
      }
    }
  }

  &__developer {
    width: 145px;

    &--content {
      line-height: 18px;
    }
  }

  &__work-type {
    width: 137px;

    &--content {
      line-height: 18px;
    }
  }

  &__status {
    width: 105px;

    &--completed {
      span {
        color: var(--color-completed);
      }
    }

    &--non-completed {
      span {
        color: var(--color-alert);
      }
    }
  }
  &__estimation {
    width: 114px;
    text-align: right;
    justify-content: flex-end;
  }

  &__total-time,
  &__my-time {
    width: 140px;
    text-align: right;
    justify-content: flex-end;
  }

  &__efficiency {
    width: 88px;
    text-align: right;
    justify-content: flex-end;
  }

  &__width-summ {
    width: calc(
      163px + 145px + 137px + 105px + 114px +
        (
          (
              1256.67px -
                (163px + 145px + 137px + 105px + 114px + 140px + 140px + 88px)
            ) / 7
        ) * 4
    );
    @media (max-width: ($md1+px)) {
      width: calc(
        163px + 145px + 137px + 105px + 114px +
          (
            (
                1035px -
                  (163px + 145px + 137px + 105px + 114px + 140px + 140px + 88px)
              ) / 7
          ) * 4
      );
    }
    text-align: left;
  }
}

.pagination {
  padding: 32px 0 0 30px;
  display: flex;
  align-items: center;
  margin-bottom: 30px;

  @media (max-width: ($md3+px)) {
    padding: 15px 0 0 10px;
    justify-content: center;
  }

  &__rows-per-page {
    color: var(--color-checkbox-eff);
    font-size: var(--basic-font-size);
    user-select: none;
    @media (max-width: ($md4+px)) {
      font-size: 12px;
    }
  }

  &__select {
    width: 61px;
    height: 40px;
    padding-left: 12px;
    margin-left: 12px;
    @media (max-width: ($md4+px)) {
      height: 35px;
    }
  }

  &__count {
    color: var(--color-checkbox-eff);
    width: 100px;
    text-align: center;
    @media (max-width: ($md4+px)) {
      width: 80px;
    }
  }

  &__page-number {
    height: 40px;
    width: 122px;
    border: var(--main-border);
    border-radius: var(--main-border-radius);
    background-color: var(--primary-bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    @media (max-width: ($md4+px)) {
      height: 35px;
    }
  }

  &__button-selected {
    width: 24px;
    height: 24px;
    border-radius: 4px;
    background-color: var(--secondary-bg-color);
    border: none;
    color: var(--color-white);
    margin-left: 14px;
    user-select: none;
  }

  &__button {
    border: none;
    width: 24px;
    height: 24px;
    background-color: transparent;
    color: var(--color-checkbox-eff);
    margin-right: 14px;
    user-select: none;
  }

  .arrowNext,
  .arrowPrev {
    cursor: pointer;
  }
}
